<nb-layout class="body-bg">
  <nb-layout-column class="login-area login-s2">
    <nb-card class="login-box cust-nb-card">
      <nb-card-header class="login-form-head">
        <img src="../../../assets/images/logo.png" />
        <h6>Sign Up</h6>
      </nb-card-header>
      <nb-card-body class="login-form-body">
        <form [formGroup]="form" (ngSubmit)="save(form.valid)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">First Name <sup class="text-danger">*</sup></label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  placeholder="First Name"
                  fieldSize="small"
                  formControlName="firstName"
                />
                <small class="text-danger" *ngIf="(!formControl('firstName').pristine && formControl('firstName').hasError('required')) || formSubmitted">
                  Field is required
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Last Name <sup class="text-danger">*</sup></label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  placeholder="Last Name"
                  fieldSize="small"
                  formControlName="lastName"
                />
                <small class="text-danger" *ngIf="(!formControl('lastName').pristine && formControl('lastName').hasError('required')) || formSubmitted">
                  Field is required
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Mobile No <sup class="text-danger">*</sup></label>
                <input
                  type="number"
                  nbInput
                  fullWidth
                  placeholder="Mobile Number"
                  fieldSize="small"
                  formControlName="mobileNumber"
                  ngxNumberOnly
                />
                <small class="text-danger" *ngIf="(!formControl('mobileNumber').pristine && formControl('mobileNumber').hasError('required')) || formSubmitted">
                  Field is required
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Email ID <sup class="text-danger">*</sup></label>
                <input
                  type="email"
                  nbInput
                  fullWidth
                  placeholder="EmailID"
                  fieldSize="small"
                  formControlName="email"
                />
                <small class="text-danger" *ngIf="(!formControl('email').pristine && formControl('email').hasError('required')) || formSubmitted">
                  Field is required
                </small>
                <small class="text-danger" *ngIf="(!formControl('email').pristine && formControl('email').hasError('email'))">
                  Email must be valid.
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">User Name <sup class="text-danger">*</sup></label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  placeholder="User Name"
                  fieldSize="small"
                  formControlName="userName"
                />
                <small class="text-danger" *ngIf="(!formControl('userName').pristine && formControl('userName').hasError('required')) || formSubmitted">
                  Field is required
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">User Type <sup class="text-danger">*</sup></label>
                <nb-select class="col-sm-10 p-0" size="small" fullWidth formControlName="type">
                  <nb-option *ngFor="let type of types" [value]="type.value">{{type.name}}</nb-option>
                </nb-select>
                <small class="text-danger" *ngIf="(!formControl('type').pristine && formControl('type').hasError('required')) || formSubmitted">
                  Field is required
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Password <sup class="text-danger">*</sup></label>
                <input
                  type="password"
                  nbInput
                  fullWidth
                  placeholder="Password"
                  fieldSize="small"
                  formControlName="password"
                />
                <small class="text-danger" *ngIf="(!formControl('password').pristine && formControl('password').hasError('required')) || formSubmitted">
                  Field is required
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">ConfirmPassword <sup class="text-danger">*</sup></label>
                <input
                  type="password"
                  nbInput
                  fullWidth
                  placeholder="Password"
                  fieldSize="small"
                  formControlName="confirmPassword"
                />
                <small class="text-danger" *ngIf="(!formControl('confirmPassword').pristine && formControl('confirmPassword').hasError('required')) || formSubmitted">
                  Field is required
                </small>
                <small class="text-danger" *ngIf="(!formControl('confirmPassword').pristine && formControl('confirmPassword').hasError('notEquivalent'))">
                  Password must match.
                </small>
              </div>
            </div>
          </div>
          <button
            class="float-right size-small"
            type="submit"
            nbButton
            status="info"
            outline
          >
            Sign Up
          </button>
          <div class="form-footer text-center mt-5">
            <p class="text-muted">
              Don't have an Account? <a routerLink="/login">Sign In</a>
            </p>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
